/*General*/

.mi-Titulos {
   /* -fx-background-color: #006699;*/
}

.mi-Titulos .label {
    -fx-text-fill: white;
}


.mi-Titulososcuros .label {
    -fx-text-fill: black;
}

.titulosclar{
      -fx-text-fill: white;
    
}.titulososcu{
      -fx-text-fill: black;
    
}




.mensaje-error {
    -fx-text-fill: red;
}

.mensaje-correcto {
    -fx-text-fill: green;
}


#BNext:disabled {
    -fx-opacity: 0.2;
}
.procedimiento-guardado {
    -fx-opacity: 0.8;
}
.procedimiento-editando {
    -fx-opacity: 1.0;
}

.procedimiento-fila {
    -fx-alignment: center;
    -fx-spacing: 40;
    -fx-padding: 0 20 0 20;
}.label-procedimiento {
    -fx-alignment: center;
}

.mi-IMagepreferencial{
     -fx-image: url("../resource/PrefetencialImage.png");
}


.item-estacion {
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-padding: 5;
}




/*Botones*/

.mi-botonAdd {
-fx-background-image: url("../resource/Agregar1.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}

.mi-botonDelete {
-fx-background-image: url("../resource/Eliminar.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}

.mi-botonEdit {
-fx-background-image: url("../resource/Modificar.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}
.mi-botonSave {
-fx-background-image: url("../resource/Guardar.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}

.mi-botonGo {
-fx-background-image: url("../resource/Avanzar.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}

.mi-botonWithoutParameters {
-fx-background-image: url("../resource/SinParametros.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}
.mi-BtnReproducir {
-fx-background-image: url("../resource/Reproducir.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}


.mi-botonSearch {
-fx-background-image: url("../resource/Buscar.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
}
.mi-botonImage{
    
    -fx-background-image: url("../resource/Imagen.png");
    -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
    
}

.mi-botonFoto{
    
    -fx-background-image: url("../resource/Camara.png");
    -fx-background-size: stretch; 
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-radius: 50px;
    
}

.mi-BtnSalir{
    -fx-background-image: url("../resource/Salir.png");
    -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
 
}

.mi-BtnActualizar{
    -fx-background-image: url("../resource/Actualizar1.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color:#ffffff;

}
.mi-BtnNext{
    -fx-background-image: url("../resource/Siguiente.png");
    -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
   

}
.mi-BtnRepit{
    -fx-background-image: url("../resource/repetir.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;


}
.mi-BtnEspecific{
    -fx-background-image: url("../resource/Especifico.png");
    -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
  
}
.mi-BtnPreferencial{
    -fx-background-image: url("../resource/Preferencial.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.boton-activo {
    -fx-border-color: #66ff00;
        -fx-border-width: 3;
}
.mi-BtnEnter{
    -fx-background-image: url("../resource/Enter.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnBackSpace{
    -fx-background-image: url("../resource/BackSpace.jpg");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnGenerarF{
    -fx-background-image: url("../resource/GenerarFicha.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnTemaClaro{
    -fx-background-image: url("../resource/TemaClaro.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnTemaOscuro{
    -fx-background-image: url("../resource/TemaOscuro.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnSalir2{
    -fx-background-image: url("../resource/Salir2.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnInformacion{
    -fx-background-image: url("../resource/Informacion.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}
.mi-BtnParametros{
    -fx-background-image: url("../resource/Parametros.png");
    -fx-background-size: stretch;  
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}


/*Paneles*/

.tab-pane .tab:hover {
    -fx-cursor: hand;
}

.tab-pane .tab:pressed {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.mi-panel-fondo{
     -fx-background-color:#006699;
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-position: center;

}
.mi-panel-fondo1{
 -fx-background-color:#ffffff;
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
    
}
.mi-panel-fondo2{
 -fx-background-color:#000000;
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
    
}

.tab-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab-header-background {
    -fx-background-color: #006699;
}
.tab-pane .headers-region {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.tab {
    -fx-background-color: #3399ff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-border-radius: 40;
     -fx-background-radius: 40px;
}
.tab .tab-label {
    -fx-text-fill: #ffffff;
}
.tab:selected {
    -fx-border-color: #00ffcc;
    -fx-border-width: 6;
}

/* SOLO CAMBIA EL FONDO DE ATRAS */
.tab-pane-oscuro .tab-header-background {
    -fx-background-color: #33ccff;
      /*  -fx-background-color: #3399ff;*/
      -fx-background-insets: 0, 0 0 2 0;
}
.mi-rectangulo1{
      -fx-background-color:#006699;
      -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mi-rectangulo{
    -fx-border-color: #66ccff;
    -fx-border-width: 5;
      -fx-background-color:#006699;
      -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.mi-rectangulooscuro{
    -fx-border-color: #006699;
    -fx-border-width: 5;
      -fx-background-color:#66ccff;
      -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mi-root HBox {
    -fx-border-color: #66ccff;
    -fx-border-width: 5;
    -fx-background-color: #006699;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mi-rootclaro HBox {
    -fx-border-color: #006699; 
    -fx-border-width: 5;
    -fx-background-color:#66ccff;
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mi-rectanguloborde{
    -fx-border-color: #9999ff;
    -fx-border-width: 5;
      -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mi-rectanguloProcedure{
    -fx-border-color: #33ffcc;
    -fx-border-width: 5;
      -fx-background-size: stretch;   
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#BNext {
    -fx-opacity: 1.0;
}
.mi-boton2:hover {
    -fx-cursor: hand;
}

.mi-boton2:pressed {
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}
.mi-Kiosco:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
.mi-botonSave:hover,.mi-botonAdd:hover,.mi-botonDelete:hover,.mi-botonEdit:hover,.mi-botonGo:hover, .mi-BtnSalir:hover ,.mi-botonWithoutParameters:hover,.mi-botonSearch:hover,.mi-BtnNext:hover,.mi-BtnRepit:hover,.mi-BtnEspecific:hover,.mi-BtnPreferencial:hover{
    -fx-cursor: hand;
}
.mi-botonSave:pressed,.mi-botonAdd:pressed,.mi-botonDelete:pressed,.mi-botonEdit:pressed,.mi-botonGo:pressed, .mi-BtnSalir:pressed,.mi-botonWithoutParameters:pressed,.mi-botonSearch:pressed,.mi-BtnNext:pressed,.mi-BtnRepit:pressed,.mi-BtnEspecific:pressed,.mi-BtnPreferencial:pressed{
    -fx-opacity: 0.6;
    -fx-cursor: hand;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


.seleccionado {
    -fx-border-color: #00ffcc;
    -fx-border-width: 7;
}
.mi-Scantidad{
      -fx-background-color:#66ff00;
}
.mi-Mcantidad{
      -fx-background-color:#ffff00;
}
.mi-Bcantidad{
      -fx-background-color:#ff3333;
}